### 10. 시계열 자료 다루기

In [2]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [35]:
date_str = ['2023, 4, 17']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [37]:
date_str = ['2023-04-17','2023-04-18','2023-04-19','2023-04-20','2023-04-21']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [38]:
df = pd.DataFrame(np.random.randint(60,100,5),
                  columns=['score'], index=idx)
df

            score
2023-04-17     81
2023-04-18     78
2023-04-19     66
2023-04-20     89
2023-04-21     69

In [39]:
pd.date_range('2023-04-01','2023-04-30')    # 시작일자, 종료일자

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [40]:
pd.date_range('4/1/23',periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range('040123',periods=30,freq='B')     # 평일(Biz day)

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10',
               '2023-05-11', '2023-05-12'],
              dtype='datetime64[ns]', freq='B')

In [42]:
# 1년중 각 월의 주말이 아닌 시작일
pd.date_range('2023-1-1','2023-12-31',freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [47]:
ts = pd.DataFrame(np.random.randint(100,1000,100),
                  index=pd.date_range('20230101',periods=100))
ts.head()

              0
2023-01-01  722
2023-01-02  276
2023-01-03  635
2023-01-04  512
2023-01-05  918

In [48]:
ts.resample('M').first()

              0
2023-01-31  722
2023-02-28  645
2023-03-31  946
2023-04-30  408

In [49]:
ts.resample('W').first()    # 매주 일요일

              0
2023-01-01  722
2023-01-08  276
2023-01-15  691
2023-01-22  685
2023-01-29  740
2023-02-05  992
2023-02-12  303
2023-02-19  905
2023-02-26  171
2023-03-05  551
2023-03-12  578
2023-03-19  441
2023-03-26  300
2023-04-02  447
2023-04-09  112
2023-04-16  805